body {
  /* background-image: url('./images/Radhi.jpeg'); */
  width: 100vw;
  height: 100vh;
  background-position: right;
  background-color: black;
  background-repeat: no-repeat;
  /* background-size: ; */
}

#background {
    width: 75%;
}
